nav {
    text-align: left; 
    
    padding: 40px;
    padding-right: 80px;
    padding-bottom: 70px;
    float: left;
    background-color: #591133;
    color: white;
    width: 50px;
}

  a {
    color: white;
    font: 50% arial, sans-serif;
    font-size: medium;
    text-align: left;
    width: 50px;
  }
  img {
    width: 20%;
  }

  header {
  text-align: center;
  background-color: #73103e;
  padding: 40px;
  }

h1{
  color: white;
  font-size: 60px;
}


body{
  background-color:#ccaeb8;
}

article{
  float:left;
}
.container {
  display:flex;
  flex-direction: row;
}

ul.topnav {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #591133;
}

/* Style links in topnav */
ul.topnav li a {
  display: block;
  color: #f1f1f1;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
ul.topnav li a:hover {
  background-color: #73103e;
  color: white;