nav {
    text-align: left; 
    
    padding: 40px;
    padding-right: 80px;
    padding-bottom: 70px;
    float: left;
    background-color: #591133;
    color: white;
    width: 50px;
}
  nav ul {
      list-style-type: none;
      padding: 0;
  }

  a {
    color: white;
    font: 50% arial, sans-serif;
    font-size: medium;
    text-align: left;
    width: 50px;
    border-radius: 20px;
  }
  img {
    width: 20%;
  }

  header {
  text-align: center;
  background-color: #73103e;
  padding: 40px;
  }

h1{
  color: white;
  font-size: 60px;
}


body{
  background-color:#ccaeb8;
}

article{
  float:left;
}
.container {
  display:flex;
  flex-direction: row;
}